<!doctype html>
<html>
<head>
    <title>Chat > Bunker</title>
</head>
<body>
<div id="bunker"></div>
<script src="/node_modules/react/dist/react-with-addons.js"></script>
<script src="/node_modules/react-dom/dist/react-dom.js"></script>
<script src="/dist/app-components.js"></script>
<script src="/dist/entry.js"></script>
</body>
</html>