<!doctype html>
<html lang="en">
<head>
    <title>Login > Bunker</title>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="<%= googleAuthClientId %>">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
<script>
	function onSignIn(googleUser) {
		// Once signed in, AJAX to server to complete login
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/api/v1/login');
		xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
		xhr.onload = function () {
			if (xhr.status === 200) {
				window.location = JSON.parse(xhr.responseText).redirectTo;
			}
			else {
				// todo what to do if it fails?
			}
		};

		var token = googleUser.getAuthResponse().id_token;
		xhr.send(JSON.stringify({token: token}));
	}
</script>
</body>
</html>